<div class="flex flex-col h-screen bg-background">
    <!-- Navbar arriba -->
    <app-navbar></app-navbar>

    <!-- Contenedor central (Sidebar + Contenido) -->
    <div class="flex flex-1 overflow-hidden">

        <!-- Sidebar condicional (Solo se renderiza si mostrarSidebar() es true) -->
        @if (mostrarSidebar()) {
        <app-sidebar-materias class="hidden lg:block shrink-0"></app-sidebar-materias>
        }

        <!-- Ámbito con scroll propio para las vistas -->
        <main class="flex-1 overflow-y-auto p-6">
            <router-outlet></router-outlet>
        </main>

    </div>

    <!-- Footer abajo -->
    <app-footer></app-footer>
</div>